<!-- 
  =================================
    Modes, time, weather, presence
  =================================
 -->
<li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
  <div data-id="mode" data-view="Stmode" data-title="Current Mode" data-pageid="page_modes" data-fasttransition="true"></div>
</li>

<li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
  <div data-id="weather" data-view="Stweather"></div>
</li>

<!-- 
  =================================
    Presence
  =================================
 -->
<li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
  <div data-id="matt-presence" data-view="Stpresence" data-title="Matt" data-device="Matt's iPhone"></div>
</li>
<li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
  <div data-id="amanda-presence" data-view="Stpresence" data-title="Amanda" data-device="Amanda's iPhone"></div>
</li>

<!-- 
  =================================
    Garage Doors
  =================================
 -->
    <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="garagedualcontact" data-view="Stcontact" data-title="Double Garage" data-device="Garage Double Sensor"></div>
    </li>

    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="garagesinglecontact" data-view="Stcontact" data-title="Single Garage" data-device="Garage Single Sensor"></div>
    </li>
