<li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
  <div data-id="cpage3" data-view="Changepage" data-icon="home" data-title="Home" data-pageid="page_home" data-fasttransition="true"></div>
</li>