<% content_for :title do %>HADashboard<% end %>




<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementdefault" data-view="Stswitch" data-title="Normal" data-device="SC - Basement Default"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementmovie" data-view="Stswitch" data-title="Movie" data-device="SC - Basement Movie" data-icon="video-camera"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementall" data-view="Stswitch" data-title="All on" data-device="SC - Basement All" data-icon="lightbulb-o"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementalloff" data-view="Stswitch" data-title="All off" data-device="SC - Basement All Off" data-icon="power-off"></div>
    </li>
  </ul>
</div>