<% content_for :title do %>HADashboard<% end %>


<div class="gridster" id="page_home">
  <ul>
    <%= erb :_weather_mode %>

<!-- 
  =================================
    Main floor Lighting
  =================================
 -->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mainallon" data-view="Stswitch" data-title="All On" data-device="SC - Main Floor All On"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="maindinner" data-view="Stswitch" data-title="Dinner" data-device="SC - Main Floor Dinner"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mainevening" data-view="Stswitch" data-title="Evening" data-device="SC - Main Floor Evening"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mainalloff" data-view="Stswitch" data-title="All Off" data-icon="power-off" data-device="SC - Main Floor All Off"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="sofalamp" data-view="Stswitch" data-title="Sofa Lamp" data-device="Family Room Lamp Plug"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="bookshelflights" data-view="Stswitch" data-title="Bookcase" data-device="Family Bookshelf Lights"></div>
    </li>


  <!-- 
    =================================
      NAVIGATION
    =================================
   -->

    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpageupstairs" data-view="Changepage" data-icon="ellipsis-h" data-title="Lights" data-pageid="page_lights" data-stagger="false" data-fasttransition="true"></div>
    </li>

    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpagebasement" data-view="Changepage" data-icon="ellipsis-h" data-title="Basement" data-pageid="page_basement" data-stagger="false" data-fasttransition="true"></div>
    </li>

    <li data-row="5" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="cpagesecurity" data-view="Changepage" data-icon="ellipsis-h" data-title="Doors" data-pageid="page_doors" data-stagger="false" data-fasttransition="true"></div>
    </li>

<!--     <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cpagecameras" data-view="Changepage" data-icon="ellipsis-h" data-title="Cameras" data-pageid="page_cameras" data-stagger="false" data-fasttransition="true"></div>
    </li> -->

  </ul>

</div>


<%= erb :_page_modes %>

<!-- 
=================================
DOORS
=================================
 -->
<div class="gridster" id="page_doors">
  <ul>
    <%= erb :_widget_home_button %>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Security" ></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="frontdoor" data-view="Stcontact" data-title="Front door" data-device="Front Door Sensor"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="garageentrydoor" data-view="Stcontact" data-title="Garage Entry" data-device="Garage Entry Sensor"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="patiosliderdoor" data-view="Stcontact" data-title="Patio Door" data-device="Patio Slider Sensor"></div>
    </li>



    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="garagesinglecontact" data-view="Stcontact" data-title="Single Garage" data-device="Garage Single Sensor"></div>
    </li>
     <li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="garagedualcontact" data-view="Stcontact" data-title="Double Garage" data-device="Garage Double Sensor"></div>
    </li>
  </ul>
</div>



<!-- 
=================================
LIGHTS
=================================
 -->
<div class="gridster" id="page_lights">
  <ul>
    <%= erb :_widget_home_button %>

    
  </ul>
</div>



<!-- 
=================================
BASEMENT
=================================
 -->
<div class="gridster" id="page_basement">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cpage3" data-view="Changepage" data-icon="arrow-left" data-title="Back" data-page="1"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="text2" data-view="Text" data-text="Basement" ></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementdefault" data-view="Stswitch" data-title="Normal" data-device="SC - Basement Default"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementmovie" data-view="Stswitch" data-title="Movie" data-device="SC - Basement Movie" data-icon="video-camera"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementall" data-view="Stswitch" data-title="All on" data-device="SC - Basement All" data-icon="lightbulb-o"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementalloff" data-view="Stswitch" data-title="All off" data-device="SC - Basement All Off" data-icon="power-off"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementcrownled" data-view="Stswitch" data-title="Crown LED" data-device="BMT Crown LED Switch"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="basementgamemain" data-view="Stdimmer" data-title="Game Main" data-device="Basement Game Main Switch"></div>
    </li>
 </ul>
</div>
