    <li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>


<!--     <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="eveningmode" data-view="Stmodechange" data-title="Evening" data-icon="moon-o" data-changemode="Evening" data-phrase="Evening!" data-countdown="0"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="bed" data-changemode="Night" data-phrase="Good Night!" data-countdown="15"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="awaymode" data-view="Stmodechange" data-title="Goodbye" data-icon="sign-out" data-changemode="Away" data-phrase="Goodbye!" data-countdown="15"></div>
    </li> -->